<ion-view view-title="Agent Profile">
  <ion-content>

    <div class="list card">
      <div class="item item-avatar">
        <img src="{{ agent.photo }}">
        <h2>{{ agent.name }}</h2>
        <p>{{ agent.brokerage }}</p>
      </div>

      <div class="item item-body">
        <p>{{ agent.about }}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

    <div class="button-bar padding">
      <a class="button" href="#/tab/agent/{{ agent.agent_id }}/info">Info</a>
      <a class="button" href="#/tab/agent/{{ agent.agent_id }}/reviews">Reviews</a>
    </div>

    <div ui-view="profile-view"></div>

  </ion-content>
</ion-view>
