<div class="row commission-content padding-none background-blue">
  <div class="col commission-flex">
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
    <div class="commission-bar"></div>
  </div>
</div>