<ion-view>
  <ion-slide-box>

    <!-- Slide #1 : Discover Commission Rates -->
    <ion-slide class="background-grey-333">

      <div class="row"
        <p>
          We've worked super hard to make you happy.
        </p>
        <p>
          But if you are angry, too bad.
        </p>
      </div>

    </ion-slide>

    <!-- Slide #2 : Agent Directory -->
    <ion-slide>

      <div id="list">
        <h5>Just three steps:</h5>
        <ol>
          <li>Be awesome</li>
          <li>Stay awesome</li>
          <li>There is no step 3</li>
        </ol>
      </div>
    </ion-slide>

    <!-- Slide #3 : Get Proposals -->
    <ion-slide>

      <p>
        Too bad!
      </p>
      <button class="button button-full button-dark" ng-click="startApp()">
        Start Using!
      </button>
    </ion-slide>
  </ion-slide-box>
</ion-view>