<ion-view>
  <ion-slide-box>

    <!-- Slide #1 : Discover Commission Rates -->
    <ion-slide class="background-upnest-grey">

      <div class="row splash-top">
        <div class="col">
          fdsafdsa
        </div>
      </div>

      <div class="row splash-bottom background-upnest-red">
        <div class="col">
          <h2>
            Discover Commission Rates
          </h2>
          <p>
            Lorem ipsum dolors it amet, consectetur adipisicing elit sed do
          </p>
        </div>
      </div>

    </ion-slide>

    <!-- Slide #2 : Agent Directory -->
    <ion-slide class="background-upnest-grey">

      <div class="row splash-top">
        <div class="col">
          fdsafdsa
        </div>
      </div>

      <div class="row splash-bottom background-upnest-blue">
        <div class="col">
          <h2>
            Agent Directory
          </h2>
          <p>
            We partner with top agents who compete for your business
          </p>
        </div>
      </div>

    </ion-slide>

    <!-- Slide #3 : Get Proposals -->
    <ion-slide class="background-upnest-grey">

      <div class="row splash-top">
        <div class="col">
          fdsafdsa
        </div>
      </div>

      <div class="row splash-bottom background-upnest-green">
        <div class="col">
          <h2>
            Agent Directory
          </h2>
          <p>
            We partner with top agents who compete for your business
          </p>
          <button class="button button-full button-dark" ng-click="startApp()">
            Start Using!
          </button>
        </div>
      </div>

    </ion-slide>

  </ion-slide-box>
</ion-view>