<ion-view view-title="Proposals">
  <ion-content>

    <!--
      Tabs:
      Each tab's child <ion-nav-view> directive will have its own
      navigation history that also transitions its views in and out.
    -->
    <swipe-cards>

      <!-- Starter Card - The first card shown (not included in deck) -->
      <swipe-card on-card-swipe="cardSwiped()" id="start-card">
        Swipe down for a new card
      </swipe-card>

      <!-- Deck - A proposal per card -->
      <swipe-card ng-repeat="proposal in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
        <div ng-controller="CardCtrl">
          <div class="list card">
            <div class="item item-avatar">
              <img src="{{ proposal.photo }}">
              <h2>{{ proposal.name }}</h2>
              <p>{{ proposal.brokerage }}</p>
            </div>

            <div class="item item-body">
              <p></p>
            </div>

            <div class="button-bar">
              <!-- View Proposal -->
              <a class="button button-positive" href="#/tab/proposal/{{ proposal.proposal_id }}">View</a>
              <!-- Decline Proposal -->
              <button class="button button-assertive" ng-click="goAway()">Decline</button>
            </div>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>

  </ion-content>
</ion-view>
