<ion-view view-title="Seller Checklist">
  <ion-content>

    <div class="list padding-bottom-5">
<!--       <div class="row padding-bottom">
        <div class="col center">
          <a class="button button-white button-circle" ng-click="openModal()"><i class="icon ion-plus-circled"></i></a>
        </div>
        <div class="col center">
          <a class="button button-white button-circle" ng-click="showDeleteButtons()"><i class="icon ion-trash-a"></i></a>
        </div>
        <div class="col center">
          <a class="button button-white button-circle" ng-click="showReorderButtons()"><i class="icon ion-shuffle"></i></a>
        </div>
      </div> -->

<!--       <div class="row background-mediumred">
        <div class="col text-center">
          Here's your seller checklist!
        </div>
      </div> -->

      <!-- *************************
        Checklist Sections
      ************************* -->

      <ion-list>
        <div ng-repeat="category in checklist" ng-class="applySectionClass(category.category)">
          <!-- Category title -->
          <ion-item class="item checklist-title">{{ category.category }}</ion-item>

          <!-- Checklist items -->
          <ion-item class="item-checkbox-custom item-remove-animate checklist-item" ng-repeat="item in category.list">
            <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
            <label class="checkbox">
              <input type="checkbox">
            </label>
            <div class="text">
              {{ item.name }}
            </div>
            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            <ion-option-button class="button-dark" ui-sref="tab.checklist-detail({ item: item })">Edit</ion-option-button>
          </ion-item>
        </div>
      </ion-list>

    </div>

    </ul>
  </ion-content>
</ion-view>
