<ion-view view-title="Request Comissions">
  <ion-content>



    <div class="item item-body">
      <h2>Commissions Savings</h2>
    </div>
    <img class="full-image" src="img/commissions-banner.png">

    <div class="row request-box">
      <div class="col">JR. Agents</div>
      <div class="col">UpNest Avg.</div>
      <div class="col">U.S. Avg.</div>
      <div class="col">Standard</div>
    </div>

    <div class="button-bar padding">
      <a class="button button-positive" href="#/tab/request/submit">Submit</a>
      <a class="button button-positive">Next</a>
    </div>

  </ion-content>
</ion-view>
