// Globals
// -------------------------------

// Background Color
.background-upnest-grey {
  background-color: $upnest-grey !important; }

.background-upnest-red {
  background-color: $upnest-red !important; }

.background-upnest-green {
  background-color: $upnest-green !important; }

.background-upnest-blue {
  background-color: $upnest-blue !important; }



// Border Radius
.border-radius-5 {
  border-radius: 5px; }

.border-radius-top-5 {
  border-radius: 5px 5px 0 0; }

.border-radius-bottom-5 {
  border-radius: 0 0 5px 5px; }