// Globals
// -------------------------------

// Background Color
.background-upnest-grey {
  background-color: $upnest-grey !important; }

.background-upnest-red {
  background-color: $upnest-red !important; }

.background-red {
  background-color: $red !important; }

.background-mediumred {
  background-color: $medium-red !important; }

.background-lightred {
  background-color: $light-red !important; }

.background-green {
  background-color: $green !important; }

.background-blue {
  background-color: $blue !important; }

.background-white {
  background-color: $white !important; }



// Border Radius
.border-radius-5 {
  border-radius: 5px; }

.border-radius-top-5 {
  border-radius: 5px 5px 0 0; }

.border-radius-bottom-5 {
  border-radius: 0 0 5px 5px; }