// Globals
// -------------------------------

// Background Color
.background-upnest-grey {
  background-color: $upnest-grey !important; }

.background-upnest-red {
  background-color: $upnest-red !important; }

.background-red {
  background-color: $red !important; }

.background-mediumred, .background-mediumred .item-content {
  background-color: $medium-red !important;
  border-color: transparent }

.background-lightred {
  background-color: $light-red !important; }

.background-green {
  background-color: $green !important; }

.background-blue {
  background-color: $blue !important; }

.background-white {
  background-color: $white !important; }



// Border Radius
.border-radius-5 {
  @include border-radius(5px); }

.border-radius-top-5 {
  @include border-radius(5px 5px 0 0); }

.border-radius-bottom-5 {
  @include border-radius(0 0 5px 5px); }



// Margin
.margin-none {
  margin: 0;
}

.margin-top-none {
  margin-top: 0px !important;
}


.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-vertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
