// Splash
// -------------------------------

// Custom
.splash-top {
  position: relative;
  height: 65%;
  z-index: 1;
}

.splash-top .background {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  z-index: 0;
}

.splash-top .screenshot {
  position: absolute;
  top: calc(10% + 80px);
  left: 15%;
  width: 70%;
  border: 3px solid #333;
  border-radius: 5px;
  z-index: 1;
}

.splash-bottom {
  position: relative;
  // @include box-shadow($shadow-top);
  padding-top: 0%;
  color: $white;
  height: 37%;
  z-index: 2;
}

.splash-bottom h2 {
  margin-top: 10%;
  font-size: $font-size-large;
}

.splash-bottom p {
  margin: 0 auto;
  width: 70%;
  font-size: $font-size-medium;
}

// Ionic - overrides some defaults
.slider {
  height: 100%; }

.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.slider-pager {
  bottom: 20px;
}

#logo {
  margin: 30px 0px; }

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px; }

#list ol {
  margin-top: 30px; }

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px; }