// Tabs
// -------------------------------

.tabs,
.tabs-white > .tabs,
.tabs.tabs-white {
  background-color: $white;
  border-top: 0px solid black !important;
  background-image: none !important;
}

ion-tabs {
  @include tabs-standard-color('tabs-color-active-white', $red, $upnest-grey);
}