// Text
// -------------------------------

// Color
.text-white {
  color: $white; }

// Size
.text-size-12 {
  font-size: 12px; }

// Alignment
.text-center {
  text-align: center; }

// Weight
.text-bold {
  font-weight: bold; }



