// Colors
// -------------------------------

$upnest-grey:                           #333 !default;
$upnest-red:                            #c1181f !default;

$red:                                   #DE574E !default;
$medium-red:                            #DEAFAB !default;
$light-red:                             #DED0D1 !default;
$green:                                 #88B25B !default;
$blue:                                  #55A6D1 !default;

$light-grey:                            #F7F7F7 !default;
$black:                                 #000 !default;
$white:                                 #FFF !important;

// Fonts
// -------------------------------
$font-size-large:                       20px !default;
$font-size-medium:                      16px !default;


// Shadows
// -------------------------------

$shadow-top:                            0px -2px 10px black;