// Colors
// -------------------------------

$upnest-grey:                           #333 !default;
$upnest-red:                            #DE574E !default;
$upnest-green:                          #88B25B !default;
$upnest-blue:                           #55A6D1 !default;

$black:                                 #000 !default;
$white:                                 #FFF !default;

// Fonts
// -------------------------------
$font-size-large:                       20px !default;
$font-size-medium:                      16px !default;


// Shadows
// -------------------------------

$shadow-top:                            0px -2px 10px black;