<ion-view view-title="Schedule Interview">
  <ion-content>

    <div class="list padding-horizontal-20">
      <h5 class="text-grey666 padding-vertical">Schedule an interview and an agent will be in touch with you shortly.</h5>

      <!-- *************************
        Form Start
      ************************* -->

      <form name="request">

        <!-- Date -->
        <h6>Date</h6>
        <label class="item item-input-inset border-radius-5">
          <i class="icon ion-ios-location placeholder-icon"></i>
          <input type="text" placeholder="123 Greenfield Dr." ng-model="request.address" ng-minlength="1" required>
        </label>

        <!-- Time -->
        <h6>Time</h6>
        <label class="item item-input-inset border-radius-5">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="text" placeholder="John Doe" ng-model="request.name" ng-minlength="1" required>
        </label>

        <!-- Note -->
        <h6>Notes</h6>
        <label class="item item-input-inset border-radius-5">
          <i class="icon ion-email placeholder-icon"></i>
          <input type="text" type="email" placeholder="johndoe@email.com" ng-model="request.email" ng-minlength="1" required>
        </label>

        <!-- Submit Button -->
        <button class="button button-full button-positive border-radius-5" ng-click="submitRequest(request)">
          Submit
        </button>

      </form>
    </div>

  </ion-content>
</ion-view>
