<ion-view view-title="Add a checklist item">
  <ion-content>

    <div class="list padding-horizontal-20">
      <h5 class="text-grey666 padding-vertical">Add something to do for {{ ::category }}</h5>

      <!-- *************************
        Form Start
      ************************* -->

      <form name="checklistAdd">

        <!-- Date -->
        <h6>Title</h6>
        <label class="item item-input-inset border-radius-5">
          <i class="icon ion-calendar placeholder-icon"></i>
          <input type="text" placeholder="ex. Pay Off Home" ng-model="checklistAdd.name" ng-minlength="1" required>
        </label>

        <!-- Note -->
        <h6>Description</h6>
        <label class="item item-input-inset border-radius-5">
          <textarea rows="10" cols="50" placeholder="Leave a description" ng-model="checklistAdd.description"></textarea>
        </label>

        <!-- Submit Button -->
        <button class="button button-full button-positive border-radius-5" ng-click="submitChecklistAdd(checklistAdd)">
          Submit
        </button>

      </form>
    </div>

  </ion-content>
</ion-view>








<!-- <ion-modal-view class="ion-modal-custom">
  <div class="ion-modal-content-custom border-radius-5">
    <ion-header-bar class="bar bar-header bar-positive border-radius-top-5">
      <h1 class="title">Add An Item</h1>
      <button class="button button-icon button-clear ion-android-cancel" ng-click="modal.hide()"></button>
    </ion-header-bar>
    <ion-content>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-pricetag placeholder-icon"></i>
          <input type="search" ng-model="item.name" ng-required="true" ng-minlength="1" placeholder="What do you need to do?">
        </label>
        <button ng-click="addItem(item)" class="button button-small">
          Submit
        </button>
      </div>
    </ion-content>
  </div>
</ion-modal-view> -->
