<ion-view view-title="Agent Directory">
  <ion-content>

<!--     <div ng-controller="LocationController">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Location" location-suggestion location="location" ng-model="location.formatted_address">
          </label>
        </div>
    </div> -->

    <div class="list" ng-controller="LocationController">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Zip Code" location-suggestion location="location" ng-model="location.formatted_address">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>

      <a class="item item-thumbnail-left agent-item" href="#/tab/agent/{{ agent.agent_id }}" ng-repeat="agent in agents">
        <img src="{{ agent.photo }}">
        <h3>{{ agent.name }}</h3>
        <p>{{ agent.brokerage }}</p>
        <p>{{ agent.years_of_exp }} yrs. of experience</p>
        <star-directive rating="agent.zillow_rating"></star-directive>
      </a>
    </div>

  </ion-content>
</ion-view>
